# Default: Geobasis NRW digital orthophotos (public WMS, no API key).
# VITE_WMS_BASE_URL=https://www.wms.nrw.de/geobasis/wms_nw_dop
# VITE_WMS_LAYERS=nw_dop_rgb
# VITE_WMS_ATTRIBUTION=© Geobasis NRW / Bezirksregierung Köln

# VITE_WMS_VERSION=1.3.0
# VITE_WMS_CRS=EPSG:3857
# VITE_WMS_FORMAT=image/png

# VITE_GEOAI_TASK=building-detection
# VITE_MAP_CENTER=6.958,50.941
# VITE_INFERENCE_ZOOM=17
